<html>
<head>
<title>Enquiry</title>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<style>
body{
    background-color:cyan;
}
</style>
<div class="container">
<div class="row">
<div class="offset-md-4 col-md-4">
<h1 class="text-center">Please Fill The Form</h1>
<form method="POST">
{% csrf_token %}
{{form}}
<center>
<input type="submit" value="Submit" class="btn btn-success">
<input type="reset" value="Clear" class="btn btn-danger">
</center>
</form>
</div>
</div>
</div>
</body>
</html>